.about-card {
  background-color: #2c3e50 !important;
  color: white;
  align-self: center;
}
body {
  font-family: "Varela Round", sans-serif !important;
}
.btn-primary {
  background-color: #2c3e50 !important;
  border: none !important;
}
.bg-semidark {
  background-color: #2c3e50;
  color: white;
}
.bg-main {
  background-color: #d3d3d3 !important;
}
.bg-mainchat {
  background-color: #2c3e50;
  color: white;
}
.center-div {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.chat-btn:hover {
  color: #285b8f;
  font-size: 1.6rem !important;
}
.chat-profile-pic {
  width: 2.5rem;
  height: 2.5rem;
}
.copyright-txt {
  position: absolute;
  bottom: 0.5rem;
}
.contact-icon {
  color: rgb(214, 214, 214);
  align-self: center;
  padding-left: 1rem;
  font-size: 1.5rem;
}
.contact-icon:hover {
  color: white;
}
.contact-icon2 {
  color: rgb(214, 214, 214);
  align-self: center;
  padding-left: 1rem;
  font-size: 1.5rem;
}
.contact-icon2:hover {
  color: white;
}
.contact-icon3 {
  color: #343a40;
  align-self: center;
  font-size: 1.25rem;
}
.contact-icon3:hover {
  color: #007bff;
}
.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.5rem;
  /* making element vertically center */
  align-self: center;
}
.dropdown-menu {
  min-width: 15rem !important;
  padding: 0.5rem 0.5rem !important;
}
.form {
  padding: 0 20% !important;
}
.input-icon {
  position: absolute;
  margin-left: 10px;
  margin-top: 5px;
  height: 25px;
  display: flex;
  align-items: center;
  color: #878787;
}

input.with-icon {
  padding-left: 40px;
}
.input-chat {
  display: flex;
  border-radius: 0.25rem;
  border: 1px solid lightslategray;
  padding: 0.3rem;
  width: 80%;
  height: 80%;
}
.img-search {
  width: 1.5rem;
  height: 1.5rem;
}
.img-chat {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
  border: solid #aaaaaa 1px;
}

.list-group-item {
  background-color: #1f2d3c !important;
  color: #aaaaaa !important;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  /* text-align: center !important; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.125) !important;
}
.list-group-item.py-0 {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}
.list-group-item.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.list-group-item.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
.list-group-item.active {
  background-color: #2c3e50 !important;
  color: white !important;
  border-color: rgba(255, 255, 255, 0.125) !important;
}
.listcontact-chat {
  border-left: none !important;
  border-color: transparent;
  background-color: transparent;
}
/* .logout-sidebar {
  background-color: #ffffff !important;
  color: #c91919 !important;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  text-align: center !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.125) !important;
} */
.main-chat-2 {
  background-color: #2c3e50;
}
.name-chat {
  font-size: 1.1rem;
}

.time-text {
  font-size: 0.75rem;
  font-weight: bold;
}
.preview-chat {
  font-size: 0.8rem;
  float: left;
  color: #aaaaaa;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.profile-chat h6 {
  font-size: 1.15rem !important;
}
.profile-chat {
  border-color: transparent;
  background-color: white;
  border-radius: 0.5rem;
}
.profile-icon {
  color: #2c3e50;
  align-self: center;
  padding-left: 1rem;
  font-size: 2.5rem;
}
.profile-icon:hover {
  color: #1f2d3c;
}
.send-btn {
  background-color: #2c3e50;
  border-radius: 1rem;
}
.scrollable-div-about {
  height: 100vh;
  overflow: scroll;
}
.scrollable-div {
  flex-grow: 1;
  vertical-align: unset;
  justify-content: flex-end;
  overflow: auto;
}
.support-scrollable-div {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.section-profile {
  border: none !important;
  background-color: transparent;
}
.section-profile:hover {
  background: rgba(255, 255, 255, 0.05) !important;
}
.section-chat {
  border-left: none !important;
  background-color: transparent;
}
.section-chat:hover {
  background: rgba(255, 255, 255, 0.05) !important;
}
.section-chat-div {
  padding-left: 0.5rem;
  display: grid;
  width: 85%;
}
/* update by Intan */
.add-contact-btn {
  background-color: #1f2d3c !important;
  color: #f8f9fa !important;
  justify-content: center;
  padding: 0.4rem 0rem !important;
}
.add-contact-btn:hover {
  background-color: #f8f9fa !important;
  color: #1f2d3c !important;
  transition: 0.35s ease-in-out;
}
.contact-list {
  height: calc(100vh - 192.33px);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1f2d3c;
  border: 0.04rem solid whitesmoke;
}

@media (max-width: 1199.98px) {
  .chat-profile-pic {
    width: 2rem;
    height: 2rem;
  }
  .contact-icon2 {
    padding-left: 0.5rem;
    font-size: 1rem;
  }
  .copyright-txt {
    font-size: 0.8rem;
  }
  .dot {
    height: 10px;
    width: 10px;
  }
  .name-chat {
    font-size: 1rem;
  }
  .section-chat-div {
    padding-left: 0.25rem;
  }
  .section-profile h5 {
    font-size: 1rem;
  }
  .preview-chat {
    font-size: 0.8rem;
  }
}
